
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h2>@ViewBag.Message</h2>
        <h3>And you are invided!</h3>
        <br />
        @Html.ActionLink("RSVP Now", "RSVPForm", null, new { @class = "btn btn-success" })
    </div>
</body>
</html>
