@model Chapter19.ControllerExtensibility.Models.Result

@{
    ViewBag.Title = "Result";
    Layout = null;
}

<h2>Result</h2>


<div>Controller Name: @Model.ControllerName</div>
<div>Action Name: @Model.ActionName</div>