
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Output Caching</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container w-75 my-3">
        <form action="/Home/Detail" method="post">
            <input type="submit" value="Click Me" />
        </form>

        <div class="alert alert-info">
            Button Clicked: @ViewBag.IsButtonClicked
        </div>
    </div>
</body>
</html>
