
@model HandleErrorInfo

@{ 
    ViewBag.Title = "Sorry, there was problem.";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Range Error</title>
    <style>
        body {
            background-color: whitesmoke;
            margin: 0;
            padding: 0;
            height: 100vh; /* Ensure the body takes the full viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .centered-div {
            background-color: lightcoral; /* Light red background color */
            padding: 20px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="centered-div">
        <h2>Sorry Buddy,</h2>
        <span>The Value @(((ArgumentOutOfRangeException)Model.Exception).ActualValue) is out of the expected range.</span>
        <div>
            @Html.ActionLink("Change Value and try again", "Index");
        </div>
    </div>
</body>
</html>
