@model bool?

@if (ViewData.ModelMetadata.IsNullableValueType) {
    @Html.DropDownListFor(m => m, new SelectList(new[] {"Not Set", "True", "False"}))
} else {
    ModelState state = ViewData.ModelState[ViewData.ModelMetadata.PropertyName];
    bool value = Model ?? false;

    if(state != null && state.Errors.Count > 0) {
        <span class="input-validation-error" style="padding: 0;margin:10px;"></span>
        @Html.CheckBox("", value)
    } else {
        @Html.CheckBox("", value)
    }
}