
@model SportsStore.Domain.Merchandise


<div class="card m-3">
    <div class="p-3 m-2">
        <span class="lead float-end p-3 bg-secondary text-white rounded">@Model.Price.ToString("c")</span>
        <h2>@Model.Name</h2>
        <span class="pt-3 ">@Model.Description</span>
    </div>
</div>