

@model SportsStore.Domain.ProductVendor

Hello
<div class="card m-3">
    <div class="p-3 m-2">
        <span class="lead float-end p-3 bg-secondary text-white rounded">@Model.StandardPrice.ToString("c")</span>
        <h2>No Name for now</h2>
        <span class="pt-3 ">@Model.LastReceiptDate.ToString()</span>
    </div>
</div>