
@{
    ViewBag.Title = "Index";
}


<div class="card text-center">
    <div class="card-header">User Details</div>
    <table>
        @foreach (string key in Model.Keys)
        {
            <tr>
                <th>@key</th>
                <th>@Model[key]</th>
            </tr>
        }
    </table>
</div>
