@model string
@using Ch21_HelperMethods.Infrastructure
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Managing String Encoded in a Helper Method</h1>
    <p>This is the content from the view:</p>

    <div style="border:thin solid black;padding:10px;">
        Here's the message: <p>@Model</p>
    </div>

    <div style="border:thin solid green;padding:10px;">
        @Html.DisplayMessage(Model)
    </div>

</body>
</html>
