@model string

@{
    Layout = null;
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        Here are the fruits:
        @foreach (string frt in (string[])ViewBag.Fruits) {
            <b>@frt</b>
        }
    </div>

    <div>
        Here are the cities:
        @foreach (string cit in (string[])ViewBag.Cities) {
            <b>@cit</b>
        }
    </div>

    <div>
        Here is the message:
        <p>@Model</p>
    </div>

</body>
</html>
