@using Chapter23.AjaxHelperMethods.Models
@model IEnumerable<Person>

@{
    ViewBag.Title = "Get People";
    //Perfect Example
}


<h2>Get All People</h2>
<table>
    <thead>
        <tr><th>First Name</th><th>Last Name</th><th>Role</th></tr>
    </thead>
    <tbody>
        @foreach (Person person in Model) {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Role</td>
            </tr>
        }
    </tbody>
</table>

@using(Html.BeginForm()) {
    <div>
        @Html.DropDownList("selectedRole", new SelectList(new[] {"All"}.Concat(Enum.GetNames(typeof(Role)))))
        <button type="submit">Submit</button>
    </div>
}