@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Chapter 16</h1>
    <div>The Area Name is: @ViewBag.AreaName</div>
    <div>The controller is: @ViewBag.ControllerName</div>
    <div>The action is: @ViewBag.ActionName</div>
    <div>@Html.ActionLink("This is an outgoing URL", "CustomVariable", new { area = "Ch16URLsAndRoutes" } )</div>
</body>
</html>
