
@model IEnumerable<string>

@{ 
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    string wrapperClasses = horizontal ? "btn-group btn-toolbar" : null;
    string categoryBtnStyling = "btn mb-3 d-grid gap-2 btn-outline-secondary btn-lg";
}


<div class="@wrapperClasses">

    @Html.ActionLink("Home", "List", "Merch", null, new { @class = categoryBtnStyling })

    @foreach (var link in Model) {
        @Html.RouteLink(link, new {
            controller = "Merch",
            action = "List",
            category = link,
            page = 1
        }, new {
                @class = (link == ViewBag.SelectedCategory ? categoryBtnStyling
                    .Replace("btn-outline-secondary", "btn-secondary") : categoryBtnStyling)
        })
    }

</div>