
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting ASP.NET from the view file
        <br /><br />
        @ViewBag.Message
        <br /><br />
        @Html.ActionLink("RSVP Now", "RSVPForm")

    </div>
</body>
</html>
