@using Ch27_WebServices.Models
@model IEnumerable<Reservation>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body {
    <div id="editor" class="section card text-bg-primary mb-4 w-50 p-3">
        @Html.Partial("_Editor", new Reservation())
    </div>

    <div id="summary" class="section card text-bg-primary">
        @Html.Partial("_Summary", Model)
    </div>

}

@section Scripts{
    <script>
        var model = {
            reservations: ko.observableArray()
        };

        function sendAjaxRequest(httpMethod, callback, url) {
            $.ajax("/api/web" + (url ? "/" + url : ""), {
                type: httpMethod, success: callback
            });

            function getAllItems() {
                sendAjaxRequest("GET", function (data) {
                    model.reservations.removeAll();
                    for (var i = 0; i < data.length; i++) {
                        model.reservations.push(data[i]);
                    }
                })
            }

            function removeItem(item) {
                sendAjaxRequest("DELETE", function () {
                    getAllItems();
                }, item.reservationId);
            }

            $(document).ready(function () {
                getAllItems();
                ko.applyBindings(model);
            })
        }
    </script>
}
