@using Ch27_WebServices.Models
@model IEnumerable<Reservation>

@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Body {
    <div id="editor" class="section card text-bg-primary mb-4 w-50 p-3">
        @Html.Partial("_Editor", new Reservation())
    </div>

    <div id="summary" class="section card text-bg-primary">
        @Html.Partial("_Summary", Model)
    </div>

}

@section Scripts{
    <script>
        
    </script>
}
