@model IEnumerable<Chapter27.WebServices.Models.Reservation>

<div class="card-header">Reservation Summary</div>
<div class="card-body">
    <table class="table table-striped small">
        <thead>
            <tr>
                <th>ReservationId</th>
                <th>Client Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.ReservationId</td>
                    <td>@reservation.ClientName</td>
                    <td>@reservation.Location</td>
                    <td>
                        @Html.ActionLink("Remove", "Remove",
                   new { reservationId = reservation.ReservationId },
                   new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>