@using Ch21_HelperMethods.Models
@model string

@{
    ViewBag.Title = "GetPeople";
    Layout = "/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions {
        UpdateTargetId = "tblBody",
        Url = Url.Action("GetPeopleData"),
        LoadingElementId = "loading",
        LoadingElementDuration = 1000,
        Confirm = "Do you wish to request new data"
    };
}

<h2>Get People Async</h2>

<div id="loading" class="load" style="display:none">
    <p>Loading Data...,</p>
</div>

<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody id="tblBody">
        @Html.Action("GetPeopleData", new {selectedRole = Model})
    </tbody>

</table>

@using(Ajax.BeginForm("GetPeopleData", ajaxOpts)) {
    <div>
        @Html.DropDownList("selectedRole", new SelectList(
        new[] {"All"}.Concat(Enum.GetNames(typeof(Role)))))
        <button type="submit">Submit</button>
    </div>
}