@using Ch21_HelperMethods.Models
@model IEnumerable<Person>

@foreach (Person item in Model) {
    <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.Role</td>
    </tr>
}