@{ Layout = null; } 
<!DOCTYPE html> 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First Form</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style> 
        body {
            padding-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container w-25">  
        @using(Html.BeginForm("CompleteForm", "Registration"))
            {
                <div class="mb-3">
                    <label for="name">country</label>
                    <input class="form-control" name="country" placeholder="Enter a country" />
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            }
    </div>
</body>
</html>
