@model string[]

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

This is a list of Fruits:


@section Header {
    <div class="view">
        @foreach (string str in new[] { "Home", "List", "Edit" }) {
            @Html.ActionLink(str, str, null, new { style = "margin: 5px; border: 4px;" })
        }
    </div>
}

@section Body{
    <div class="view">
        this is a list of fruit names:
        @foreach (string name in Model) {
            <span><b>@name</b></span>
        }
    </div>
}

