@model Chapter25.ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Booking Completed";
}

<h4>Your Appointment is confirmed</h4>

<p>Your Name: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>The date of your appointment is: <b>@Html.DisplayFor(m => m.AppointmentDate)</b></p>

