
@model SportsStore.Web.Models.MerchListViewModel


@{
    ViewBag.Title = "Merchandise";
}


@foreach (var m in Model.Merchandises)
{
    @Html.Partial("_MerchSummary", m)
}

<div class="btn btn-group float-end">
    @Html.PageLinks(Model.PagingInfo, p => Url.Action("List", new { page = p, category = Model.CurrentCategory }))
</div>