@model Ch24_MvcModels.Models.AddressSummary

@{
    ViewBag.Title = "DisplaySummary";
}

<h2>Display Summary</h2>

<div><label>City: </label>@Html.DisplayFor(ad => ad.City)</div>
<div><label>Country: </label>@Html.DisplayFor(ad => ad.Country)</div>