
@{
    ViewBag.Title = "List";
    Layout = null;

    string[] fruitItems = { "Strawberry", "Orange", "Milkyway", "Passion Fruit"};
}

<h2>This is the /Views/Common/List.cshtml View</h2>

@Html.Partial("_OurStronglyTyped", fruitItems)

@Html.Action("OurTime")