@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    <h2 class="message">@ViewData["Message"]</h2>
    <p>the calculation is: @Model</p>
</body>
</html>
