@model Ch25_ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h4>Your Appointment is confirmed</h4>
<p>Your Name is: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>The date of your appointment is: <b>@Html.DisplayFor(m => m.Date)</b></p>

