@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>


@foreach (var m in Model.Products) {
    Html.RenderPartial("ProductSummary", m);
}

<div class="btn btn-group float-end">
    @Html.PageLinks(Model.PagingInfo, p => Url.Action("List", new { page = p, category = Model.CurrentCategory }))
</div>


